---
services:
  prometheus:
    image: prom/prometheus:v3.9.1
    ports:
      - 127.0.0.1:9091:9090  # change the port
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    platform: linux/amd64
    ports:
      - 127.0.0.1:16686:16686  # Serves the Frontend.
  collector:
    image: otel/opentelemetry-collector:0.143.1
    volumes:
      - ./otel-collector.yaml:/etc/otelcol/config.yaml
    ports:
      - 13133:13133  # health_check extension
      - 1888:1888  # pprof extension
      - 4317:4317  # OTLP gRPC receiver
      - 4318:4318  # OTLP http receiver
      - 55679:55679  # zpages extension
      - 8888:8888  # Prometheus metrics exposed by the Collector
      - 8889:8889  # Prometheus exporter metrics
