---
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
    prometheus/collector:
      config:
        scrape_configs:
          - job_name: 'opentelemetry-collector'
            static_configs:
              - targets: ['localhost:8888']

processors:
  batch:

exporters:
  otlphttp/metrics:
    endpoint: http://localhost:9090/api/v1/otlp
    tls:
      insecure: true
  otlphttp/traces:
    endpoint: http://localhost:4418
    tls:
      insecure: true
  otlphttp/logs:
    endpoint: http://localhost:3100/otlp
    tls:
      insecure: true
  debug/metrics:
    verbosite: detailed
  debug/traces:
    verbosite: detailed
  debug/logs:
    verbosite: detailed

services:
  pipelines:
    traces:
      receives: [otlp]
      processors: [batch]
      exporters: [otlphttp/traces, debug/traces]
    metrics:
      receives: [otlp, prometheus/collector]
      processors: [batch]
      exporters: [otlphttp/metrics, debug/metrics]
    logs:
      receives: [otlp]
      processors: [batch]
      exporters: [otlphttp/logs, debug/logs]
